Source: jruby
Section: ruby
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: Miguel Landaeta <nomadium@debian.org>
Build-Depends: ant-optional,
               debhelper (>= 10~),
               default-jdk (>= 2:1.8~),
               jruby-openssl (>= 0.9.17~),
               junit4,
               libasm-java (>= 5.0),
               libbsf-java,
               libbuild-helper-maven-plugin-java,
               libbytelist-java (>= 1.0.13~),
               libdirgra-java,
               libheadius-options-java,
               libinvokebinder-java (>= 1.7~),
               libjarjar-java,
               libjcodings-java,
               libjffi-java,
               libjitescript-java,
               libjnr-constants-java (>= 0.9.5~),
               libjnr-enxio-java,
               libjnr-ffi-java (>= 2.1.1~),
               libjnr-netdb-java,
               libjnr-posix-java (>= 3.0.32~),
               libjnr-unixsocket-java (>= 0.14~),
               libjnr-x86asm-java,
               libjoda-time-java,
               libjruby-joni-java,
               libjzlib-java,
               liblivetribe-jsr223-java,
               libmaven-assembly-plugin-java,
               libmaven-antrun-plugin-java,
               libmaven-bundle-plugin-java,
               libmaven-dependency-plugin-java,
               libmaven-exec-plugin-java,
               libmaven-invoker-plugin-java,
               libmaven-shade-plugin-java,
               libmaven-source-plugin-java,
               libosgi-core-java,
               libruby2.3,
               libunsafe-mock-java,
               libyaml-snake-java,
               maven-debian-helper (>= 2.0~),
               nailgun,
               rake,
               ruby-json,
               ruby-rspec,
               ruby-test-unit
Standards-Version: 3.9.8
Homepage: http://jruby.org/
Vcs-Git: https://anonscm.debian.org/git/pkg-java/jruby.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-java/jruby.git

Package: jruby
Architecture: all
Depends: default-jre | java7-runtime,
         ant,
         junit4,
         libasm-java (>= 5.0),
         libbsf-java,
         libbytelist-java (>= 1.0.13~),
         libdirgra-java,
         libheadius-options-java,
         libinvokebinder-java (>= 1.7~),
         libjansi-java,
         libjcodings-java,
         libjffi-jni,
         libjitescript-java,
         libjoda-time-java,
         libjnr-constants-java (>= 0.9.5~),
         libjnr-enxio-java,
         libjnr-ffi-java (>= 2.1.1~),
         libjnr-netdb-java,
         libjnr-posix-java (>= 3.0.32~),
         libjnr-unixsocket-java (>= 0.14~),
         libjnr-x86asm-java,
         libjruby-joni-java,
         libjzlib-java,
         libosgi-core-java,
         libunsafe-mock-java,
         libyaml-snake-java,
         nailgun,
         ruby-jar-dependencies,
         ${misc:Depends}
Recommends: jruby-openssl (>= 0.9.17~),
            ri,
            ruby-json,
            ruby-rspec,
            ruby-test-unit
Description: 100% pure-Java implementation of Ruby
 JRuby is an implementation of the ruby language using the JVM.
 .
 It aims to be a complete, correct and fast implementation of Ruby, at the
 same time as providing powerful new features such as concurrency without a
 global interpreter lock, true parallelism and tight integration to the Java
 language to allow one to use Java classes in Ruby programs and to allow
 JRuby to be embedded into a Java application.
 .
 JRuby can be used as a faster version of Ruby, it can be used to run Ruby
 on the JVM and access powerful JVM libraries such as highly tuned concurrency
 primitives, it can also be used to embed Ruby as a scripting language in your
 Java program, or many other possibilities.
