#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/maven.mk
include $(CURDIR)/debian/maven3.mk

#JAVA_HOME := /usr/lib/jvm/default-java
# upstream code directly from git repo builds with
# openjdk-7-jdk, I have to find out how/why
JAVA_HOME := /usr/lib/jvm/java-8-openjdk-$(DEB_BUILD_ARCH)

pre-build::
	mkdir -p lib/jni

common-install-prehook-indep::
	mkdir -p target/package
	tar zxf ./maven/jruby-dist/target/jruby-dist-$(DEB_UPSTREAM_VERSION)-bin.tar.gz -C target/package --strip-components=1
	cd target/package/bin && mv jruby.sh jruby
	cd target/package/bin && chmod 0755 *
	rm target/package/lib/ruby/2.0/rdoc/generator/template/darkfish/js/jquery.js

install/jruby::
	rm -rf debian/jruby/usr/share/maven-repo/*
	rm debian/jruby/usr/share/java/*
	mh_installpom -pjruby --no-parent core/pom.xml
	mh_installjar -pjruby --java-lib  core/pom.xml target/package/lib/jruby.jar

clean::
	-rm -rf                     \
	bin/jruby                  \
	core/target/               \
	lib/jruby.jar              \
	target/                    \
	maven/jruby-dist/target/   \
	maven/jruby-stdlib/target/ \
	maven/target/              \
	core/src/main/java/org/jruby/runtime/Constants.java
